{% extends 'blog/base.html' %}

{% block content %}
    <h2>Стартовая страница</h2>
    <hr>
    <div>
      <form style="padding: 10px"  action="/action_buttons_1/" method="GET">
          <button type="submit" class="btn btn-primary">Анализ1</button>
      </form>
    </div>
    <div>
      <form style="padding: 10px"  action="#" method="GET">
          <button type="submit" class="btn btn-primary">Анализ2</button>
      </form>
    </div>
    <div>
      <form style="padding: 10px"  action="#" method="GET">
          <button type="submit" class="btn btn-primary">Анали3</button>
      </form>
    </div>
{% endblock %}
