{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div id="networkJSON-results" class="results" style="display:none"></div>
<style type="text/css">
        #mynetwork {
            width: 900px;
            height: 900px;
            border: 1px solid lightgray;
        }
</style>

<script type="text/javascript" src="{% static 'js/vis.js' %}"></script>
<script type="text/javascript" src="{% static 'js/require.js' %}"></script>
<link href="{% static 'css/vis-network.min.css' %}" rel="stylesheet" type="text/css"/>

<p>
    Relations between the characters of "Les miserables".
</p>

<div id="mynetwork"></div>

<script type="text/javascript">
        var options = {
            nodes: {
                shape: 'dot',
                size: 16
            },
            physics: {
                forceAtlas2Based: {
                    gravitationalConstant: -50,
                    centralGravity: 0.005,
                    springLength: 230,
                    springConstant: 0.18
                },
                maxVelocity: 146,
                solver: 'forceAtlas2Based',
                timestep: 0.35,
                stabilization: {iterations: 3}
            }
        };

        console.log("olo");
        var json = $.getJSON("{% static 'jsons/data.json' %}")
        .done(function(data){
        var data = {
          nodes: data.nodes,
          edges: data.edges
        };
        console.log("olo");
        var network = new vis.Network(container, data, options);
        });

    var container = document.getElementById('mynetwork');
    </script>



{% endblock %}
